.search-field {
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    padding: 0;
    margin: 0;
    height: 25px;
    border: none;
  }

  *:focus {
    outline: none;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 25px;
  }

  .search-icon {
    border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    -webkit-border-radius: 15px 0 0 15px;
  }

  .reset-search {
    border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0 ;
    -webkit-border-radius: 0 15px 15px 0;
  }
}
