#login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25vh;
  }
}

.logo {
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.login-btn {
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  padding: 11px 32px 9px;
  color: #fff;
  background-color: #1db954;
  transition-duration: .3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  border-color: #1aa34a;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    background-color: #438b5a;
  }
}
