.artists-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  justify-content: center;
  align-content: center;
}

.empty-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;

  p {
    margin-top: 0;
    font-family: Proxima Thin,Georgia,sans-serif;
    color: #ccc;
    text-align: center;
  }
}
